* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
.imagecontainer {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0)
    ),
    linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0)),
    url("./images/bg.jpg");
  background-size: 125%;
  background-position: center;
  border-bottom: 11px solid rgba(35, 35, 35, 1);
}
.logocontainer {
  padding-top: 25px;
  display: flex;
  justify-content: space-around;
  gap: 500px;
}
.logocontainer img {
  width: 150px;
}
.logocontainer button {
  height: 34px;
  padding: 0 14px;
  background-color: #e50914;
  color: white;
  font-weight: 700;
  outline: none;
  border: none;
  border-radius: 5px;
}
.innercontent {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.innercontent h1 {
  color: white;
  font-weight: 700;
  font-size: 50px;
}
.innercontent h3 {
  color: white;
  font-weight: 400;
}
.incontainer {
  display: flex;
  align-items: center;
}
.incontainer input {
  padding: 15px;
  font-size: 16px;
  margin-right: 10px;
  width: 370px;
  border: 1px solid #8c8c8c;
  border-radius: 2px;
  height: 50px;
  box-sizing: border-box;
  transition: border-color 0.3s ease;
  background-color: rgba(32, 32, 32, 1);
  color: white;
}
.incontainer input::placeholder {
  color: rgb(199, 194, 194);
  font-weight: 400;
}

.incontainer input:focus {
  border-color: #e50914;
  outline: none;
}
.heading {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 15px;
}
.incontainer .getstartedbtn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 25px;
  background-color: #e50914;
  color: white;
  font-weight: 600;
  outline: none;
  border: none;
  border-radius: 4px;
  font-size: 20px;
}
.incontainer .getstartedbtn img {
  margin-left: 16px;
  width: 30px;
}
.secondsection {
  display: flex;
  padding-left: 150px;
  align-items: center;
  background: black;
  height: 500px;
  border-bottom: 11px solid rgba(35, 35, 35, 1);
}
.heading2 {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.heading2 h1 {
  font-size: 3rem;
  font-weight: 900;
  color: white;
}
.heading2 h2 {
  font-size: 1.5rem;
  font-weight: 300;
  color: white;
  width: 650px;
}
.tv-container {
  position: relative;
  width: 600px;
  height: 400px;
}

.tv-video {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.tv-frame {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
}
.boxshot {
  background-color: black;
  width: 320px;
  height: 100px;
  border-radius: 10px;
  border: 3px solid gray;
  display: flex;
  position: absolute;
  position: relative;
  bottom: 100px;
  left: 125px;
}
.boxshot img {
  height: 5rem;
  object-fit: contain;
  margin-left: -100px;
}
.para {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: -100px;
}
.boxshot .para h4 {
  color: white;
}
.boxshot .para a {
  color: #0071eb;
  text-decoration: none;
}
.img-container {
  position: relative;
}
.img-container img {
  height: 80%;
  width: 90%;
}
.heading3 {
  width: 600px;
}
.circle {
  position: absolute;
  right: 10px;
  top: 20px;
  width: 3rem;
  height: 3rem;
  outline: 2px solid rgb(0, 0, 0);
  outline-offset: -2px;
  display: block;
  background: url(./images/download-icon.gif) center center no-repeat;
  background-size: 100%;
}
.fourthsection {
  height: 400px;
}
.fourthsection .heading4 {
  margin-left: 150px;
}
.fourthsection .heading4 h1 {
  width: 100px;
}
.fourthsection .heading4 h2 {
  width: 430px;
}
.kids-container img {
  width: 600px;
  height: 400px;
}
.FAQs {
  background-color: black;
  text-align: center;
  padding-bottom: 20px;
}
.FAQs h1 {
  padding-top: 60px;
  color: white;
  font-size: 50px;
}
.FAQs .questioncontainer {
  padding: 0 20px;
  margin: 1px auto;
  margin-top: 10px;
  width: 75%;
  background-color: rgba(45, 45, 45, 1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 90px;
  cursor: pointer;
}
.questioncontainer h4 {
  color: white;
  font-weight: 400;
  font-size: 23px;
}
.answer {
  width: 75%;
  padding: 0 20px;
  margin: 0 auto;
  background-color: rgba(45, 45, 45, 1);
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.6s ease-out;
}
.answer p {
  padding: 15px;
  font-size: 20px;
  color: white;
  margin: 0;
}
.active {
  max-height: 400px;
}
.lastchild{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 40px;
  gap: 10px;
}
.lastchild h3{
  font-weight: 400;
  color: white;
}
